/* modal popup tips */

.tipsModalBg {
    /*
    background-repeat: no-repeat;
    background-position: center 5%;
    background-size: auto, cover;
    background-color: #91DCE8;
    
    border-radius: 40px;
    */
<<<<<<< HEAD

=======
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #91DCE8;
<<<<<<< HEAD

    border-radius: 40px; 
=======
    border-radius: 40px;
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
}

.tipsModalBgWhenLoading {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #91DCE8;
<<<<<<< HEAD

=======
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    border-radius: 40px;
}

@media screen and (max-width: 767px) {
<<<<<<< HEAD
    .tipsModalBg {        
        /* vh : vw = 16 : 9 for phone */
        /* make sure not to make width > 100vw */
        
        /*height: 80vh;
        width: 53.3vh;*/

        height: 142.22vw;
        width: 94.75vw;
        margin: auto; 
=======
    .tipsModalBg {
        /* vh : vw = 16 : 9 for phone */
        /* make sure not to make width > 100vw */
        /*height: 80vh;
        width: 53.3vh;*/
        height: 142.22vw;
        width: 94.75vw;
        margin: auto;
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    }

    .tipsModalBgWhenLoading {
        height: 142.22vw;
        width: 94.75vw;
        margin: auto;
<<<<<<< HEAD

=======
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
        background-size: 100px;
    }

    #btnCloseTipsModal {
        padding-top: 5%;
        padding-right: 5%;
    }
<<<<<<< HEAD
    #btnCloseTipsModal img {
        width: 39px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .tipsModalBg {        
=======

        #btnCloseTipsModal img {
            width: 39px;
        }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .tipsModalBg {
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
        height: 587px;
        width: 390px;
        margin: auto;
    }

    .tipsModalBgWhenLoading {
        height: 587px;
        width: 390px;
        margin: auto;
<<<<<<< HEAD

=======
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
        background-size: 100px;
    }

    #btnCloseTipsModal {
        padding-top: 5%;
        padding-right: 5%;
    }
<<<<<<< HEAD
    #btnCloseTipsModal img {
        width: 39px;
    }
}

@media screen and (min-width: 992px) {
    .tipsModalBg {        
=======

        #btnCloseTipsModal img {
            width: 39px;
        }
}

@media screen and (min-width: 992px) {
    .tipsModalBg {
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
        height: 600px;
        width: 400px;
        margin: auto;
    }

<<<<<<< HEAD
    .tipsModalBgWhenLoading {        
        height: 600px;
        width: 400px;
        margin: auto;

=======
    .tipsModalBgWhenLoading {
        height: 600px;
        width: 400px;
        margin: auto;
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
        background-size: 100px;
    }

    #btnCloseTipsModal {
        padding-top: 5%;
        padding-right: 5%;
    }
<<<<<<< HEAD
    #btnCloseTipsModal img {
        width: 39px;
    }
=======

        #btnCloseTipsModal img {
            width: 39px;
        }
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
}

/* end of modal popup tips */


/* modals to show image to video progress */

/* common classes */
<<<<<<< HEAD
.progressModalBg {    
=======
.progressModalBg {
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #A2DAE6;
<<<<<<< HEAD

    border-radius: 40px;            
}

@media screen and (max-width: 767px) {
    .progressModalBg {        
=======
    border-radius: 40px;
}

@media screen and (max-width: 767px) {
    .progressModalBg {
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
        /*height: 90vh;*/
        height: 160vw;
    }

    .divProgressModalStatus {
        /*padding-top: 5vh;*/
        padding-top: 8.88vw;
    }
<<<<<<< HEAD
    .divProgressModalStatus > img {
        /*height: 35vh;*/
        height: 62.22vw;
    }
=======

        .divProgressModalStatus > img {
            /*height: 35vh;*/
            height: 62.22vw;
        }
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a

    .divProgressModalAppliance {
        /*padding-top: 5vh;*/
        padding-top: 8.88vw;
    }
<<<<<<< HEAD
=======

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalFan {
        /*height: 20vh;*/
        height: 35.55vw;
    }
<<<<<<< HEAD
=======

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalAirCon {
        /*height: 20vh;*/
        height: 35.55vw;
    }
<<<<<<< HEAD
=======

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalKid {
        /*height: 20vh;*/
        height: 35.55vw;
    }

    .divProgressModalMessage {
        /*padding-top: 5vh;*/
        padding-top: 8.88vw;
    }
<<<<<<< HEAD
=======

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalFanMsg {
        /*height: 6.5vh;*/
        height: 11.55vw;
    }
<<<<<<< HEAD
=======

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalAirConMsg {
        /*height: 6.5vh;*/
        height: 11.55vw;
    }
<<<<<<< HEAD
=======

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalKidMsg {
        /*height: 6.5vh;*/
        height: 11.55vw;
    }

    .divLoadingCountDown {
        /*padding-top: 4vh;*/
        padding-top: 7.11vw;
    }
<<<<<<< HEAD
    .divLoadingCountDown > img {        
        /*height: 1.5vh;*/
        height: 2.66vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .progressModalBg {        
        height: 700px;         
=======

        .divLoadingCountDown > img {
            /*height: 1.5vh;*/
            height: 2.66vw;
        }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .progressModalBg {
        height: 700px;
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    }

    .divProgressModalStatus {
        padding-top: 50px;
    }
<<<<<<< HEAD
    .divProgressModalStatus > img {
        width: 45px;
    }
=======

        .divProgressModalStatus > img {
            width: 45px;
        }
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a

    .divProgressModalAppliance {
        padding-top: 25px;
    }
<<<<<<< HEAD
    #imgProgressModalFan {
        width: 120px;
    }
    #imgProgressModalAirCon {
        width: 220px;
    }
=======

    #imgProgressModalFan {
        width: 120px;
    }

    #imgProgressModalAirCon {
        width: 220px;
    }

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalKid {
        width: 100px;
    }

    .divProgressModalMessage {
        padding-top: 25px;
    }
<<<<<<< HEAD
    #imgProgressModalFanMsg {
        width: 370px;
    }
    #imgProgressModalAirConMsg {
        width: 370px;
    }
=======

    #imgProgressModalFanMsg {
        width: 370px;
    }

    #imgProgressModalAirConMsg {
        width: 370px;
    }

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalKidMsg {
        width: 320px;
    }

    .divLoadingCountDown {
        padding-top: 35px;
    }
<<<<<<< HEAD
    .divLoadingCountDown > img {
        width: 100px;
    }
}

@media screen and (min-width: 992px) {
    .progressModalBg {        
        height: 700px;         
=======

        .divLoadingCountDown > img {
            width: 100px;
        }
}

@media screen and (min-width: 992px) {
    .progressModalBg {
        height: 700px;
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    }

    .divProgressModalStatus {
        padding-top: 50px;
    }
<<<<<<< HEAD
    .divProgressModalStatus > img {
        width: 45px;
    }
=======

        .divProgressModalStatus > img {
            width: 45px;
        }
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a

    .divProgressModalAppliance {
        padding-top: 25px;
    }
<<<<<<< HEAD
    #imgProgressModalFan {
        width: 120px;
    }
    #imgProgressModalAirCon {
        width: 220px;
    }
=======

    #imgProgressModalFan {
        width: 120px;
    }

    #imgProgressModalAirCon {
        width: 220px;
    }

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalKid {
        width: 100px;
    }

    .divProgressModalMessage {
        padding-top: 25px;
    }
<<<<<<< HEAD
    #imgProgressModalFanMsg {
        width: 370px;
    }
    #imgProgressModalAirConMsg {
        width: 370px;
    }
=======

    #imgProgressModalFanMsg {
        width: 370px;
    }

    #imgProgressModalAirConMsg {
        width: 370px;
    }

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    #imgProgressModalKidMsg {
        width: 320px;
    }

    .divLoadingCountDown {
        padding-top: 35px;
    }
<<<<<<< HEAD
=======

>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
    .divLoadingCountDown > img {
        width: 100px;
    }
}

<<<<<<< HEAD
/* end of modals to show image to video progress */
=======
/* end of modals to show image to video progress */
>>>>>>> ed95342c00fa102189769cd333b3b349eb2c8a6a
