@media screen and (max-width: 767px) {
    #divErrStatus > img {
        /*height: 30vh;*/
        height: 53.33vw;
    }

    #divKid {
        /*padding-top: 2.5vh;*/
        padding-top: 4.44vw;
    }
    #divKid > img {
        /*height: 20vh;*/
        height: 35.55vw;
    }

    #divErrTip {
        /*padding-top: 2.5vh;*/
        padding-top: 4.44vw;
    }
    #imgPhotoErrTip {
        /*height: 2.5vh;*/
        height: 4.44vw;
    }
    #imgUploadErrTip {
        /*height: 2.5vh;*/
        height: 4.44vw;
    }
        
    #divBackToUpload {
        /*padding-top: 4vh;*/
        padding-top: 7.11vw;
    }
    #divBackToUpload > a > img {
        /*height: 6.5vh;*/
        height: 11.55vw;
    }        
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #divErrStatus > img {
        width: 47.5px;
    }

    #divKid {
        padding-top: 30px;
    }
    #divKid > img {
        width: 100px;
    }

    #divErrTip {
        padding-top: 30px;
    }
    #imgPhotoErrTip {
        width: 300px;
    }
    #imgUploadErrTip {
        width: 250px;
    }
        
    #divBackToUpload {
        padding-top: 30px;
    }
    #divBackToUpload > a > img {
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    #divErrStatus > img {
        width: 40px;
    }

    #divKid {
        padding-top: 30px;
    }
    #divKid > img {
        width: 90px;
    }

    #divErrTip {
        padding-top: 30px;
    }
    #imgPhotoErrTip {
        width: 325px;
    }
    #imgUploadErrTip {
        width: 275px;
    }
        
    #divBackToUpload {
        padding-top: 30px;
    }
    #divBackToUpload > a > img {
        width: 200px;
    }
}